Repository cisagov/ScubaGoggles, pull requests merged in 2024-01, with the labels that each got.

#122 Fix Whitespace Error in Positional Argument Guide
  scubagoggles/main.py
Labels: documentation, Changes Made, Low

#144 Swapped Implementation Step #2 in COMMONCONTROLS.11.4v0.1 and COMMONCONTROLS.11.5v0.1 per Issue 143
  baselines/Common Controls Minimum Viable Secure Configuration Baseline v0.1.md
Labels: No Impact (No Admin Control), Common Controls, Baseline Revision, High

#126 Moved Wording from MEET3.1v0.1 Policy Statement to Rationale
  baselines/Google Meet Minimum Viable Secure Configuration Baseline v0.1.md
Labels: Baseline Revision, High

#131 Update Readme to include Front-End GUI Requirement
  README.md
Labels: documentation, RFC

#138 Removed Policy Groups 22, 19, 18, and 12 andPolicy 15.2 from Gmail Baseline per Issue 137
  Testing/RegoTests/gmail/gmail12_test.rego
  Testing/RegoTests/gmail/gmail13_test.rego
  Testing/RegoTests/gmail/gmail14_test.rego
  Testing/RegoTests/gmail/gmail15_test.rego
  Testing/RegoTests/gmail/gmail16_test.rego
  Testing/RegoTests/gmail/gmail17_test.rego
  Testing/RegoTests/gmail/gmail18_test.rego
  Testing/RegoTests/gmail/gmail19_test.rego
  Testing/RegoTests/gmail/gmail20_test.rego
  Testing/RegoTests/gmail/gmail21_test.rego
  Testing/RegoTests/gmail/gmail22_test.rego
  Testing/RegoTests/gmail/gmail23_test.rego
  baselines/Gmail Minimum Viable Secure Configuration Baseline v0.1.md
  drift-rules/GWS Drift Monitoring Rules - Gmail.csv
  rego/Gmail.rego
Labels: Baseline Revision, High

#134 Removed 1.2 and 3.2 from the Calendar Baseline per Issue 133
  Testing/RegoTests/calendar/calendar01_test.rego
  Testing/RegoTests/calendar/calendar03_test.rego
  Testing/RegoTests/calendar/calendar04_test.rego
  Testing/RegoTests/calendar/calendar05_test.rego
  baselines/Google Calendar Minimum Viable Secure Configuration Baseline v0.1.md
  drift-rules/GWS Drift Monitoring Rules - Calendar.csv
  rego/Calendar.rego
Labels: Baseline Revision, High

#136 Wording Changes for Calendar Baseline per Issue 135
  baselines/Google Calendar Minimum Viable Secure Configuration Baseline v0.1.md
Labels: Baseline Revision, High

#146 Refactor DNS Code
  scubagoggles/provider.py
  scubagoggles/robust_dns.py
Labels: bug, enhancement

#156 Removed Attachment Filtering Policies per Issue 62
  Testing/RegoTests/gmail/gmail19_test.rego
  baselines/Gmail Minimum Viable Secure Configuration Baseline v0.1.md
  drift-rules/GWS Drift Monitoring Rules - Gmail.csv
  rego/Gmail.rego
Labels: Baseline Revision, High, Code Changes Required

#165 Add support for auth by service account
  README.md
  scubagoggles/auth.py
  scubagoggles/main.py
  scubagoggles/orchestrator.py
  scubagoggles/provider.py
Labels: enhancement
