Repository cisagov/ScubaGoggles, pull requests merged in 2024-03, with the labels that each got.

#209 Resolve Drive & Docs Baseline dependency Policy Issues
  Testing/RegoTests/drive/drive01_test.rego
  rego/Drive.rego
Labels: Drive_Docs, Code review

#214 Categorize rules as "manual checks" if no events found (issue 185)
  scubagoggles/reporter/reporter.py
Labels: bug

#218 Refactor Rationales for Calendar, Classroom, and Sites
  baselines/Google Calendar Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Classroom Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Sites Minimum Viable Secure Configuration Baseline v0.1.md
Labels: Google Calendar, Google Sites, Google Classroom, Baseline Revision, No Code Change Required

#205 Meet 1.1 changed to SHOULD
  baselines/Google Meet Minimum Viable Secure Configuration Baseline v0.1.md
  rego/Meet.rego
Labels: Baseline Revision, High, Code Changes Required

#246 Common Controls Rehaul
  Testing/RegoTests/commoncontrols/commoncontrols01_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols03_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols04_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols05_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols08_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols10_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols11_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols12_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols14_test.rego
  Testing/RegoTests/commoncontrols/commoncontrols15_test.rego
  rego/Commoncontrols.rego
  scubagoggles/orchestrator.py
  scubagoggles/provider.py
  scubagoggles/reporter/reporter.py
Labels: bug, Common Controls, enhancement
