Repository cisagov/ScubaGoggles, pull requests merged in 2024-07, with the labels that each got.

#300 Add Detailed report messages for Drive&Docs
  Testing/RegoTests/drive/drive01_test.rego
  Testing/RegoTests/drive/drive02_test.rego
  Testing/RegoTests/drive/drive03_test.rego
  Testing/RegoTests/drive/drive04_test.rego
  Testing/RegoTests/drive/drive05_test.rego
  Testing/RegoTests/drive/drive06_test.rego
  rego/Drive.rego
  scubagoggles/provider.py
Labels: Drive_Docs, Medium, Code review

#329 meet: implement group checks (issue 320)
  Testing/RegoTests/meet/meet01_test.rego
  Testing/RegoTests/meet/meet02_test.rego
  Testing/RegoTests/meet/meet03_test.rego
  Testing/RegoTests/meet/meet04_test.rego
  rego/Meet.rego
Labels: bug

#324 Added Gmail Policy Group 19
  Testing/RegoTests/gmail/gmail19_test.rego
  baselines/Gmail Minimum Viable Secure Configuration Baseline v0.2.md
  drift-rules/GWS Drift Monitoring Rules - Gmail.csv
  rego/Gmail.rego
Labels: Gmail, Baseline Revision, High, Code Changes Required

#311 Drive_Docs Changes to 1.6 and 6.1
  Testing/RegoTests/drive/drive01_test.rego
  Testing/RegoTests/drive/drive06_test.rego
  baselines/Google Drive and Docs Minimum Viable Secure Configuration Baseline v0.2.md
  drift-rules/GWS Drift Monitoring Rules - Drive and Docs.csv
  rego/Drive.rego
Labels: Drive_Docs, Baseline Revision, High, Code Changes Required
