Repository cisagov/ScubaGoggles, pull requests merged in 2024-04, with the labels that each got.

#249 Add detailed report messages for Classroom
  Testing/RegoTests/classroom/classroom01_test.rego
  Testing/RegoTests/classroom/classroom02_test.rego
  Testing/RegoTests/classroom/classroom03_test.rego
  Testing/RegoTests/classroom/classroom04_test.rego
  rego/Classroom.rego
Labels: enhancement

#242 Refactor Rationales
  baselines/Common Controls Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Gmail Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Chat Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Drive and Docs Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Meet Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Groups for Business Minimum Viable Secure Configuration Baseline v0.1.md
Labels: Gmail, Google Chat, Drive_Docs, Groups, Common Controls, Baseline Revision

#255 Fix Typo Across All Baselines for "Exfiltration" Based on Issue 250
  baselines/Gmail Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Chat Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Google Drive and Docs Minimum Viable Secure Configuration Baseline v0.1.md
  baselines/Groups for Business Minimum Viable Secure Configuration Baseline v0.1.md
Labels: Baseline Revision, High

#261 Detailed Report Messages for Google Calendar
  Testing/RegoTests/calendar/calendar01_test.rego
  Testing/RegoTests/calendar/calendar02_test.rego
  Testing/RegoTests/calendar/calendar03_test.rego
  Testing/RegoTests/calendar/calendar04_test.rego
  rego/Calendar.rego
Labels: Google Calendar, enhancement, Low
