Repository cisagov/ScubaGoggles, pull requests merged in 2024-11, with the labels that each got.

#490 Changing Common Controls 3.1 from SHALL to SHOULD
  baselines/commoncontrols.md
  drift-rules/GWS Drift Monitoring Rules - Common Controls as of 11-14-23.csv
  rego/Commoncontrols.rego
Labels: Common Controls, Baseline Revision

#489 Removing Groups 7.1
  Testing/RegoTests/groups/groups07_test.rego
  baselines/groups.md
  drift-rules/GWS Drift Monitoring Rules - Groups.csv
  rego/Groups.rego
Labels: Groups, Baseline Revision

#492 Revise implementation steps for GWS.COMMONCONTROLS.6.1
  baselines/commoncontrols.md
Labels: Baseline Revision

#493 Add new post-SSO verification control
  baselines/commoncontrols.md
  drift-rules/GWS Drift Monitoring Rules - Common Controls as of 11-14-23.csv
  rego/Commoncontrols.rego
Labels: Baseline Revision

#497 Updating Rule Instructions for Common Controls 13.1
  baselines/commoncontrols.md
Labels: Common Controls, Baseline Revision
