Repository cisagov/ScubaGoggles, pull requests merged in 2025-02, with the labels that each got.

#538 GWS Policy API Updates for Common Controls and Gmail
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols16_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols_api01_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols_api04_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols_api16_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail01_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail08_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail09_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail10_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail12_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail_api01_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail_api08_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail_api09_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail_api10_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail_api12_test.rego
  scubagoggles/baselines/commoncontrols.md
  scubagoggles/policy_api.py
  scubagoggles/rego/Commoncontrols.rego
  scubagoggles/rego/Gmail.rego
  scubagoggles/rego/Utils.rego
Labels: Gmail, Common Controls, enhancement

#567 Update Version Number from 0.3.0 to 0.4.0 (Driftwood)
  README.md
  drift-rules/GWS Drift Monitoring Rules - Calendar.csv
  drift-rules/GWS Drift Monitoring Rules - Chat.csv
  drift-rules/GWS Drift Monitoring Rules - Classroom.csv
  drift-rules/GWS Drift Monitoring Rules - Common Controls as of 11-14-23.csv
  drift-rules/GWS Drift Monitoring Rules - Drive and Docs.csv
  drift-rules/GWS Drift Monitoring Rules - Gmail.csv
  drift-rules/GWS Drift Monitoring Rules - Groups.csv
  drift-rules/GWS Drift Monitoring Rules - Meet.csv
  drift-rules/GWS Drift Monitoring Rules - Sites.csv
  scubagoggles/__init__.py
  scubagoggles/baselines/calendar.md
  scubagoggles/baselines/chat.md
  scubagoggles/baselines/classroom.md
  scubagoggles/baselines/commoncontrols.md
  scubagoggles/baselines/drive.md
  scubagoggles/baselines/gmail.md
  scubagoggles/baselines/groups.md
  scubagoggles/baselines/meet.md
  scubagoggles/baselines/sites.md
Labels: version bump

#539 Common Controls 12.1: correct Policy API implementation
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols_api12_test.rego
  scubagoggles/rego/Commoncontrols.rego
  scubagoggles/rego/Utils.rego
Labels: bug, Common Controls

#605 Work-around for Policy API Missing OrgUnit in Settings (0.4.1) release
  README.md
  scubagoggles/__init__.py
  scubagoggles/policy_api.py
Labels: bug

#603 Updating Common Controls 1/MFA
  drift-rules/GWS Drift Monitoring Rules - Common Controls as of 11-14-23.csv
  scubagoggles/baselines/commoncontrols.md
Labels: Internal Discussion, Common Controls, Baseline Revision

#615 Change timestampzulu capitalization
  scubagoggles/orchestrator.py
Labels: bug

#556 Common Controls Rego: Remove Log Event Implementation
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols01_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols04_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols05_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols08_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols10_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols11_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols12_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols16_test.rego
  scubagoggles/provider.py
  scubagoggles/rego/Commoncontrols.rego
Labels: Common Controls, High, eel

#609 Display Customer ID and Name on Reports
  docs/prerequisites/Prerequisites.md
  scubagoggles/auth.py
  scubagoggles/orchestrator.py
  scubagoggles/provider.py
  scubagoggles/reporter/reporter.py
  scubagoggles/scuba_constants.py
Labels: enhancement
