Repository cisagov/ScubaGoggles, pull requests merged in 2025-08, with the labels that each got.

#744 Add Gemini baseline
  baselines/README.md
  docs/usage/Parameters.md
  scubagoggles/Testing/Functional/SmokeTests/smoke_test_utils.py
  scubagoggles/Testing/RegoTests/gemini/gemini01_test.rego
  scubagoggles/Testing/RegoTests/gemini/gemini02_test.rego
  scubagoggles/baselines/README.md
  scubagoggles/baselines/gemini.md
  scubagoggles/mappings/scuba-to-nist-sp-800-53-r5-fedramp-high.csv
  scubagoggles/orchestrator.py
  scubagoggles/provider.py
  scubagoggles/rego/Gemini.rego
Labels: baseline-document, enhancement, Baseline Code Implementation

#745 Consolidate Groups baseline policy groups
  drift-rules/GWS Drift Monitoring Rules - Groups.csv
  scubagoggles/Testing/RegoTests/groups/groups_api01_test.rego
  scubagoggles/Testing/RegoTests/groups/groups_api02_test.rego
  scubagoggles/Testing/RegoTests/groups/groups_api03_test.rego
  scubagoggles/Testing/RegoTests/groups/groups_api04_test.rego
  scubagoggles/Testing/RegoTests/groups/groups_api05_test.rego
  scubagoggles/Testing/RegoTests/groups/groups_api06_test.rego
  scubagoggles/baselines/groups.md
  scubagoggles/mappings/scuba-to-nist-sp-800-53-r5-fedramp-high.csv
  scubagoggles/rego/Groups.rego
Labels: baseline-document, Baseline Code Implementation

#755 Update GWS.CALENDAR.3.2v0.5 to match new endpoint requirement of graph API (Markdown only)
  scubagoggles/baselines/calendar.md
Labels: baseline-document

#754 Updated GWS.COMMONCONTROLS.8.3 note for more clarity
  scubagoggles/baselines/commoncontrols.md
Labels: baseline-document
