Repository cisagov/ScubaGoggles, pull requests merged in 2025-03, with the labels that each got.

#620 Fix missing refresh_token field in token.json
  scubagoggles/auth.py
Labels: bug

#555 Gmail Rego: Remove Log Event Implementation
  scubagoggles/Testing/RegoTests/gmail/gmail01_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail05_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail06_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail07_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail08_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail09_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail10_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail11_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail12_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail14_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail15_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail_api14_test.rego
  scubagoggles/rego/Gmail.rego
Labels: Gmail, eel

#627 Removing Content Compliance Policy in Gmail
  drift-rules/GWS Drift Monitoring Rules - Gmail.csv
  scubagoggles/Testing/RegoTests/gmail/gmail18_test.rego
  scubagoggles/Testing/RegoTests/gmail/gmail19_test.rego
  scubagoggles/baselines/gmail.md
  scubagoggles/rego/Gmail.rego
Labels: Internal Discussion, Gmail, Baseline Revision

#542 Calendar Rego: Remove Log Event Implementation
  scubagoggles/Testing/RegoTests/calendar/calendar01_test.rego
  scubagoggles/Testing/RegoTests/calendar/calendar02_test.rego
  scubagoggles/Testing/RegoTests/calendar/calendar03_test.rego
  scubagoggles/Testing/RegoTests/calendar/calendar04_test.rego
  scubagoggles/Testing/RegoTests/calendar/calendar_api03_test.rego
  scubagoggles/provider.py
  scubagoggles/rego/Calendar.rego
Labels: Google Calendar, eel

#575 Add UUID to JSON results metadata and truncated UUID to JSON file name
  docs/usage/Parameters.md
  scubagoggles/Testing/Functional/SmokeTests/smoke_test.py
  scubagoggles/main.py
  scubagoggles/orchestrator.py
  scubagoggles/reporter/FrontPageReport/FrontPageReportTemplate.html
  scubagoggles/reporter/reporter.py
  scubagoggles/reporter/styles/FrontPageStyle.css
  scubagoggles/scuba_constants.py
Labels: enhancement, eel

#637 Updating Date Format across all Baselines
  scubagoggles/baselines/calendar.md
  scubagoggles/baselines/chat.md
  scubagoggles/baselines/classroom.md
  scubagoggles/baselines/commoncontrols.md
  scubagoggles/baselines/drive.md
  scubagoggles/baselines/gmail.md
  scubagoggles/baselines/groups.md
  scubagoggles/baselines/meet.md
  scubagoggles/baselines/sites.md
Labels: documentation, Baseline Revision, enhancement

#598 Add Policy API Implementation of Common Controls 16.1
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols16_test.rego
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols_api16_test.rego
  scubagoggles/rego/Commoncontrols.rego
Labels: eel

#629 Implement Common Controls 8.2 (Account Recovery)
  scubagoggles/Testing/RegoTests/commoncontrols/commoncontrols_api08_test.rego
  scubagoggles/rego/Commoncontrols.rego
  scubagoggles/rego/Utils.rego
Labels: Common Controls, Baseline Code Implementation, eel

#552 Drive/Docs Rego: Remove Log Event Implementation
  scubagoggles/Testing/RegoTests/drive/drive01_test.rego
  scubagoggles/Testing/RegoTests/drive/drive02_test.rego
  scubagoggles/Testing/RegoTests/drive/drive03_test.rego
  scubagoggles/Testing/RegoTests/drive/drive04_test.rego
  scubagoggles/Testing/RegoTests/drive/drive06_test.rego
  scubagoggles/rego/Drive.rego
Labels: Drive_Docs, eel

#565 Classroom Rego: Remove Log Event Implementation
  scubagoggles/Testing/RegoTests/classroom/classroom01_test.rego
  scubagoggles/Testing/RegoTests/classroom/classroom02_test.rego
  scubagoggles/Testing/RegoTests/classroom/classroom03_test.rego
  scubagoggles/Testing/RegoTests/classroom/classroom04_test.rego
  scubagoggles/Testing/RegoTests/classroom/classroom05_test.rego
  scubagoggles/rego/Classroom.rego
Labels: Google Classroom, eel

#641 Eel Baseline Version Bump to v1
  README.md
  drift-rules/GWS Drift Monitoring Rules - Calendar.csv
  drift-rules/GWS Drift Monitoring Rules - Chat.csv
  drift-rules/GWS Drift Monitoring Rules - Classroom.csv
  drift-rules/GWS Drift Monitoring Rules - Common Controls as of 11-14-23.csv
  drift-rules/GWS Drift Monitoring Rules - Drive and Docs.csv
  drift-rules/GWS Drift Monitoring Rules - Gmail.csv
  drift-rules/GWS Drift Monitoring Rules - Groups.csv
  drift-rules/GWS Drift Monitoring Rules - Meet.csv
  drift-rules/GWS Drift Monitoring Rules - Sites.csv
  scubagoggles/__init__.py
  scubagoggles/baselines/calendar.md
  scubagoggles/baselines/chat.md
  scubagoggles/baselines/classroom.md
  scubagoggles/baselines/commoncontrols.md
  scubagoggles/baselines/drive.md
  scubagoggles/baselines/gmail.md
  scubagoggles/baselines/groups.md
  scubagoggles/baselines/meet.md
  scubagoggles/baselines/sites.md
  scubagoggles/orchestrator.py
  scubagoggles/rego/Utils.rego
  scubagoggles/reporter/md_parser.py
  scubagoggles/sample-config-files/omit_policies.yaml
  scubagoggles/scuba_argument_parser.py
  scubagoggles/version.py
Labels: version bump, Baseline Revision, Medium, eel

#574 Build/Release: Add ZIP Source File Distribution
  .github/workflows/run_release.yml
  scubagoggles/utils/build.sh
Labels: eel

#630 Gmail Rego: Remove 10.2
  scubagoggles/Testing/RegoTests/gmail/gmail10_test.rego
  scubagoggles/rego/Gmail.rego
Labels: Gmail, Baseline Code Implementation, eel
